spring:
  application:
    name: management
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show_sql: false
    open-in-view: false
logging:
  level:
    root: info